@model ReviewtotalViewModel
@{
    ViewData["Title"] = "瀏覽案件";
    Proposal proposals = Model.proposal;
    ToRepond toReponds = Model.toRepond;
    List<Vote> votes = Model.votes;


    int activePage = (int)ViewData["ActivePage"];
    int pages = (int)ViewData["Pages"];

    bool exist =false;
    foreach(var vote in votes)
    {
        if(vote.ProposalId == proposals.ProposalId && vote.UserId == User.Identity.Name)
        {
            exist = true;
        }
    }
}
@section topCSS{
    <link href="~/css/review_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}



<div class="main_tops">
    <div class="main-wh">
        <div class="title" id="title">
            <h1>@proposals.Title</h1>
            <!-- Json讀入標題資料 -->
        </div>
        <div class="vote_total">
            <div class="vote_left col-4">
                <canvas id="myChart" ></canvas>
            </div>
            <div class="vote_middle col-4" id="vote_middle">
                <div class="vote_top">
                    <h2>提議者</h2>
                    <p id="vote_ID">@proposals.UserId</p>
                </div>
                <div class="vote_bottom">
                    <h2>類型</h2>
                    @switch(proposals.CategoryId)
                    {
                        case "C001":
                            <p id="Vote_category">校園</p>
                            break;
                        case "C002":
                            <p id="Vote_category">教室</p>
                            break;
                        case "C003":
                            <p id="Vote_category">宿舍</p>
                            break;
                        case "C004":
                            <p id="Vote_category">餐廳</p>
                            break;
                    }
                </div>
                <!-- Json讀入提議者資料 -->
            </div>
            <div class="vote_right col-4">
                <div class="assent" id="assent">
                    <h2>贊成</h2>
                    <p>@ViewBag.TrueAmount</p>
                </div>
                <div class="contra" id="contra">
                    <h2>反對</h2>
                    <p>@ViewBag.FalseAmount</p>
                </div>
            </div>

        </div>
        <div class="schedule">
            <div id="Project_Action">
                @if (proposals.Underways is true)
                {
                    <img src="~/images/action.jpg" />
                }
                else
                {
                    <img src="~/images/project.jpg" />
                    
                }
            </div>
            <div id="Project_established">
                @if(proposals.Pass is true)
                {
                    <img src="~/images/no-response.jpg"/>
                }
                else
                {
                    <img src="~/images/fail.jpg" />

                }
            </div>
            <div id="Project_Response">
                @if(toReponds is not null)
                {
                    <img src="~/images/response.jpg"/>
                }
            </div>
            <!-- Json圖表 -->
        </div>
        <div class="propose_content">
            <div class="content_title">
                <h2>提議內容與建議事項</h2>

            </div>
            <div class="content_1" id="content_1">
                <p>@proposals.Pcontent</p>
            </div>
        </div>
        <div class="propose_benefit">
            <div class="benefit_title">
                <h2>利益與影響</h2>
            </div>
            <div class="content_2" id="content_2">
                <p>@proposals.GainsInfluential</p>
            </div>
            <div class="vote_btn">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Gerent"))
                    {
                        <a href="/Response/@proposals.ProposalId">
                            <input type="button" id="response_button" value="回覆" class="btn btn-outline-danger" />
                        </a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        @if (exist == false)
                        {
                            <a href="/Review/Vote/@proposals.ProposalId/1">
                                <input type="button" id="vote_assent" value="贊成" class="btn btn-outline-danger" />
                            </a>
                            <a href="/Review/Vote/@proposals.ProposalId/0">
                                <input type="button" id="vote_contra" value="反對" class="btn btn-outline-danger" />
                            </a>
                        }
                        else
                        {
                            <p class="alert alert-dark">已投票成功</p>
                        }             
                    }
                }
            </div>

        </div>
        <div class="message_area">
            <h2>留言區</h2>
            <div class="container_msg" id="container_msg">
                @if (votes.Count() > 0)
                {
                    @foreach (var vote in votes)
                    {
                        <div class="card">
                            <div class="text">
                                <ul>
                                    <li>@vote.UserId</li>
                                    <li>@vote.Vdate.ToString("yyyy-mm-dd")</li>
                                </ul>
                                <p>@vote.Vcontent</p>
                            </div>
                            <div class="icon">
                                @if (vote.Crucial == true)
                                {
                                    <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                }
                                else if (vote.Crucial == false)
                                {
                                    <i class="fa-regular fa-thumbs-down"></i>
                                }
                            </div>
                        </div>
                    }
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" style=" @((activePage - 1) < 1 ? "pointer-events:none; color:#999;" : "")"
                                   href="@((activePage-1)< 1 ? "" : $"/Review/{proposals.ProposalId}/{activePage-1}")">&laquo;</a>
                            </li>

                            @for (int i = 1; i <= pages; i++)
                            {
                                <li class="page-item @(i == activePage ? "active" : "")">
                                    <a class="page-link" href="/Review/@proposals.ProposalId/@i">@i</a>
                                </li>
                            }

                            <li class="page-item">
                                <a class="page-link" style=" @((activePage + 1) > pages ? "pointer-events:none;color:#999;" : "")"
                                   href="@((activePage+1)> pages ? "" : $"/Review/{proposals.ProposalId}/{activePage+1}")">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                }
                else
                {
                    <h3>目前尚未有人參與本提案</h3>
                }
            </div>
        </div>

        <div class="response_area">
            <h2>回覆區</h2>
            <div class="alert alert-primary" id=res_content role="alert">
                @if (toReponds != null)
                {
                    <h3>@toReponds.Rcontent</h3>
                }
                else
                {
                    <h3>目前尚未有回覆</h3>
                }
            </div>
        </div>
    </div>
</div>

@section endJS
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["贊成","反對"],
                datasets: [{
                    backgroundColor: [
                        '#FFA07A',
                        '#9966CC',
                    ],
                    data: [@ViewBag.TrueAmount, @ViewBag.FalseAmount],
                    fill: false,
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: 'white'
                    }
                }
            }
        });
    </script>
}

