<ul class="navbar-nav log">
    @if (User.Identity.IsAuthenticated)
    {
        @*已登入*@
        if (User.IsInRole("User"))
        {
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Mine">我參與過的案件</a>
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("登出", "SignOut","User", null, new { @class="dropdown-item"})
                </div>
            </div>
        }
        else
        {
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name
                </button>
                <div class="dropdown-menu">
                    <div>@User.Identity.Name</div>
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("登出", "SignOut","User", null, new { @class="dropdown-item"})
                </div>
            </div>
        }
    }
    else
    {
        @*未登入*@
        <li><a href="@Url.Action("UserLogin", "User")" class="btn btn-outline-primary me-2">使用者</a></li>
        <li><a href="@Url.Action("GerentLogin", "Gerent")" class="btn btn-outline-primary me-2">管理者</a></li>

    }
</ul>