@model CHU_PolicyPlatform_1.ViewModels.GerentSeeVM
@{
    ViewData["Title"] = "監督案件: 待回覆";

    int activePage = (int)ViewData["ActivePage"];
    int pages = (int)ViewData["Pages"];
}


@section topCSS
{
    <link href="~/css/userSeestyle.css" rel="stylesheet" />
}


<div class="maintop">
    <div class="UserS">
        <h1>待回覆案件</h1>
    </div>
</div>
<div class="main">
    <div class="main-wh">
        <div class="UserPs">
            <h4>統計所有成案計畫的類型、回覆訊息查看(注：不一定都有回覆)</h4>
        </div>

        <div id="btncard">
            <a href="/Supervision/Pending" class="btn btn-outline-light btn-lg">待回覆案件</a>
            <a href="/Supervision/Finished" class="btn btn-outline-light btn-lg">已回覆案件</a>
            <a href="/Supervision/Fail" class="btn btn-outline-light btn-lg">未通過案件</a>
        </div>


    </div>
    <div id="proposal">
        @foreach (var item in Model.pieVMs)
        {
            <a class="Usertcard col-6" href="/Review/@item.ProposalId">
                @switch (item.CategoryId)
                {
                    case "C001":
                        <img src="~/images/campus_icon.png" />
                        break;
                    case "C002":
                        <img src="~/images/classroom_icon.png" />
                        break;
                    case "C003":
                        <img src="~/images/dormitory_icon.png" />
                        break;
                    case "C004":
                        <img src="~/images/restaurant_icon.png" />
                        break;
                    default:
                        <img src="~/images/campus_icon.png" />
                        break;
                }
                <div>
                    <h3>@item.Title</h3>
                </div>
            </a>
        }

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style=" @((activePage - 1) < 1 ? "pointer-events:none; color:#999;" : "")"
                       href="@((activePage-1)< 1 ? "" : "/Supervision/Pending/"+(activePage-1))">&laquo;</a>
                </li>

                @for (int i = 1; i <= pages; i++)
                {
                    <li class="page-item @(i == activePage ? "active" : "")">
                        <a class="page-link" href="/Supervision/Pending/@i">@i</a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" style=" @((activePage + 1) > pages ? "pointer-events:none;color:#999;" : "")"
                       href="@((activePage+1)> pages ? "" : "/Supervision/Pending/"+(activePage+1))">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>
    <div id="chartarea">
        <h3 id="chart-title">待回覆案件類型總圖</h3>
        <canvas id="myChart"></canvas>
    </div>
</div>

@section endJS
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/chart_Pie.js"></script>

    <script>
        var modeldata = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.pieVMs));
        var catesdata = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.categories));
    </script>
}